.content {
  padding-bottom: 0;
}
.content:before,
.content:after {
  content: ' ';
  display: table;
}
.content:after {
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0;
}
.content > ul > li > ol > li {
  line-height: 25px;
}
.content code {
  background: #f7f7f7;
  font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
  margin: 0 3px;
  padding: 1px 6px;
  border-radius: 3px;
  color: #777;
  font-size: 12.8px;
  border: 1px solid #e9e9e9;
}
