/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.text-overflow {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.contentInner {
  padding: 0;
  box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.01);
  min-height: calc(100vh - 120px);
  position: relative;
  flex: auto;
  display: flex;
  flex-direction: column;
}
.loading {
  overflow: 'hidden';
}
@media (max-width: 767px) {
  .contentInner {
    padding: 0;
    min-height: calc(100vh - 130px);
    display: flex;
    flex-direction: column;
  }
}
