/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.text-overflow {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.wrapper {
  height: 100%;
  overflow: hidden;
}
.section {
  height: calc(100% - 64px);
}
.iframeContent {
  margin: 10px 10px 0 10px;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}
.iframeChildren {
  padding: 0;
  background: #fff;
  flex: 1;
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  /*隐藏滚动条，当IE下溢出，仍然可以滚动*/
  -ms-overflow-style: none;
  /*火狐下隐藏滚动条*/
  overflow: -moz-scrollbars-none;
}
.iframeChildren::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 0px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 0px;
}
.content {
  margin: 10px 10px 0 10px;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}
.children {
  padding: 0;
  background: #fff;
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  /*隐藏滚动条，当IE下溢出，仍然可以滚动*/
  -ms-overflow-style: none;
  /*火狐下隐藏滚动条*/
  overflow: -moz-scrollbars-none;
}
.children::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 0px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 0px;
}
.footer {
  text-align: center;
  font-size: 14px;
  padding: 10px 50px;
}
.siderbar {
  overflow: hidden;
  overflow-y: auto;
  margin-bottom: 42px;
  /*隐藏滚动条，当IE下溢出，仍然可以滚动*/
  -ms-overflow-style: none;
  /*火狐下隐藏滚动条*/
  overflow: -moz-scrollbars-none;
}
.siderbar::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 0px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 0px;
}
.spin {
  height: 100%;
  width: 100%;
  text-align: center;
  padding-top: 400px;
}
