@import '../../themes/index.less';
.wrapper {
    height: 100%;
    overflow: hidden;
}

.section {
    height: ~'calc(100% - 64px)';
}

.iframeContent {
    margin: 10px 10px 0 10px;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

.iframeChildren {
    padding: 0;
    background: #fff;
    flex: 1;
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    .hideScrollbar();
}

.content {
    margin: 10px 10px 0 10px;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

.children {
    padding: 10px;
    padding-top: 0;
    padding-bottom: 0;
    background: #fff;
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    .hideScrollbar();
}

.footer {
    text-align: center;
    font-size: 14px;
    padding: 10px 50px;
    margin-left:-10px;
    margin-right:-10px;
}

.siderbar {
    overflow: hidden;
    overflow-y: auto;
    margin-bottom: 42px;
    .hideScrollbar();
}
.spin {
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 400px;
}