@import "../../themes/vars.less";

.contentInner {
    background: #fff;
    padding: 0;
    box-shadow: @shadow-1;
    min-height: ~"calc(100vh - 110px)";
    position: relative;
}

@media (max-width: 767px) {
    .contentInner {
        padding: 0;
        min-height: ~"calc(100vh - 110px)";
    }
}