.popover {
  width: 360px;
}
.popover :global(.ant-popover-inner-content) {
  padding: 0;
}
.noticeButton {
  cursor: pointer;
  display: inline-block;
  transition: all 0.3s;
}
.icon {
  font-size: 16px;
  vertical-align: middle;
  padding: 4px;
}
.tabs :global .ant-tabs-nav-scroll {
  text-align: center;
}
.tabs :global .ant-tabs-bar {
  margin-bottom: 4px;
}
.tabs .ant-tabs-nav .ant-tabs-tab {
  margin: 0 !important;
}
.more {
  text-align: center;
  margin-top: 4px;
  height: 28;
  line-height: 28px;
  cursor: pointer;
}
